*{
    font-size: 10px;    
}
/* Cuerpo principal del menu */
.cuerpo{
    width: 90%;
    height: 85%;
    max-height: 870px;
    max-width: 700px;

    margin: 1rem auto;
}

/* Parte superior del menu */
.superior{
    background-color: #0DB02B;
    border-radius: 50px 50px 0 0;
    
    text-align: center;

    width: 100%;
    height: 20%;
}
.superior img{
    width: 25%;

    margin-top: 3%;
}
.superior h4{
    color: #fff;
    font-size: 2rem;
}
.superior input[type="button"]{
    background-color: #FFC000;
    border: 0px;

    color: #fff;
    font-size: 1.5rem;
    font-weight: bold;

    position: relative;
    display: block;

    padding: 0.3rem 1rem;
    margin-left: 96.2%;
    bottom: 7%;
}
.superior input[type="button"]:hover{
    background-color: #dba400;
}

/* Parte inferior del menu */
.inferior{
    background-color: rgba(255, 255, 255, 0.8);
    border-radius: 0 0 50px 50px;

    text-align: center;

    width: 100%;
    height: 80%;

    padding: 1rem 3rem;
}
.inferior ul{
    list-style: none;
}
.inferior li{
    margin: 1rem 0;
}
.inferior li a{
    display: list-item;
}
.inferior li a div{
    color: #FFC000;
    font-size: 3rem;

    display: inline-block;
    position: relative;
    z-index: 30;

    margin-left: 7%;
    top: 1.1rem;
    left: 1.5rem;
}
.inferior li a button{
    background-color: #8f8c8c;
    border: 0px;
    border-radius: 25px;

    color: #fff;
    font-size: 2.5rem;
    text-align: justify;

    position: relative;
    z-index: 1;

    width: 70%;
    left: -3%;
    
    padding: 0.5rem 4rem;
    top: 1rem;
}
.inferior li a button:hover{
    background-color: #797878;
}
.inferior li a button:focus{
    background-color: #797878;
}
.inferior form input[type]{
    background-color: #0DB02B;
    border: solid 1px #0DB02B;
    border-radius: 10px;

    font-size: 2rem;
    color: #fff;

    width: 20%;
    margin-left: 58%;
    margin-bottom: 1.5%;

    padding: 0.5rem 1.5rem;
}
.inferior form input[type]:hover{
    background-color: rgb(12, 133, 34);
    border: solid 1px rgb(12, 133, 34);
    cursor: pointer;
}
.inferior form input[type]:disabled{
    background-color: rgba(12, 133, 34, 0.4);
    border: 0;
    cursor: initial;
}

.ident{
    border-radius: 50%;
    border: 0.5rem solid #8f8c8c;

    position: relative;
    z-index: 2;

    width: 18%;
    left: -10%;
}

.check{
    position: relative;
    z-index: 2;

    width: 10%;
    left: 4%;
}

.cuerpom{
    text-align: center;
    padding: 1.5rem;
}
.cuerpom h2{
    color: #0DB02B;
    font-size: 3.5rem;

    margin: 1.5rem auto;
}
.cuerpom p{
    font-size: 2rem;
}
.cuerpom img{
    width: 20%;
}
.cuerpom button{
    background-color: #0DB02B;
    border: solid 1px #0DB02B;
    border-radius: 10px;

    font-size: 1.5rem;
    color: #fff;

    width: 20%;
    margin: 0 2rem;

    padding: 0.5rem 1.5rem;
}

@media screen and (max-width: 1250px) {
    *{
        font-size: 10px;
    }

    .cuerpo{
        margin: 5rem auto;
    }
}

@media screen and (max-width: 780px) {
    *{
        font-size: 9px;
    }
}

@media screen and (max-width: 670px) {
    *{
        font-size: 7.5px;
    }

    .superior input[type="button"]{
        margin-left: 96.6%;
    }
}

@media screen and (max-width: 620px) {
    .superior input[type="button"]{
        margin-left: 96.5%;
    }
}

@media screen and (max-width: 590px) {
    .superior input[type="button"]{
        margin-left: 96.4%;
    }
}

@media screen and (max-width: 570px) {
    *{
        font-size: 6.5px;
    }

    .forma{
        width: 90% !important;
        margin: 2rem auto;
    }

    .superior input[type="button"]{
        margin-left: 96.3%;
    }
}

@media screen and (max-width: 500px) {
    *{
        font-size: 5.5px;
    }

    .superior input[type="button"]{
        margin-left: 96.6%;
    }

    .superior{
        border-radius: 25px 25px 0 0;
    }

    .inferior{
        border-radius: 0 0 25px 25px;
    }
}

@media screen and (max-width: 440px) {
    .superior input[type="button"]{
        margin-left: 96.4%;
    }
}

@media screen and (max-width: 420px) {
    .superior input[type="button"]{
        margin-left: 96.1%;
    }
}

@media screen and (max-width: 400px) {
    *{
        font-size: 4.5px;
    }
    .superior input[type="button"]{
        margin-left: 96.7%;
    }
}

@media screen and (max-width: 350px) {
    .superior input[type="button"]{
        margin-left: 96.3%;
    }
}

@media screen and (max-width: 325px) {
    *{
        font-size: 4px;
    }
    .superior input[type="button"]{
        margin-left: 96%;
    }
}